<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    </head>
    <body>
        {% block body %}
            {% block header %}
                {% block menu %}
                    <div class="navbar navbar-default text-center">
                        <a href="{{ path('front_index') }}" class="btn btn-primary">Home</a>
                        <a href="{{ path('front_contact') }}" class="btn btn-primary">Contact</a>
                        <a href="{{ path('front_faq') }}" class="btn btn-primary">FAQ</a>
                    </div>
                {% endblock %}
            {% endblock %}

            {% block content %}   
            {% endblock %}            
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
