<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('libs/bootstrap/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <div class="wrapper">
                {% block header %}
                    {% block menu %}
                        {% include ':includes:menu.html.twig' %}
                    {% endblock %}
                {% endblock %}
                <div class="container-fluid content">
                    {% block content %}
                    {% endblock %}
                </div>
                {% block footer %}
                    <div class="nav navbar-default footer">
                        <p>2017 -</p>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('libs/jquery/jquery-3.2.1.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
