<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>
        {% block body %}
            {% block header %}
                {% block menu %}
                    {% include 'includes/menu.html.twig' only %}
                {% endblock %}
            {% endblock %}
            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
            {% block footer %}
            {% endblock %}        
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
