.block-search-ca,
.block-search-date {

}
.block-search-term {
    margin-bottom: 50px;
}
#search_term {
    height: 5em;
    border-radius: 0;
}
#btn-search-by-term {
    height: 5em;
    width: 5em;
    border-radius: 0;
}