/********************************************

                BODY

********************************************/
html, body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    height: auto;
    /*background-image: url(../img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
*/
    margin: 0;
    padding: 0;
}
/********************************************

               LINK

********************************************/
a:hover {
    text-decoration: none;
}
/********************************************

                INPUT-SELECT

********************************************/
#contact_title {
    cursor: pointer;
    outline-style: none;
}

.styled-select {
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    height: 29px;
    overflow: hidden;
    width: 240px;
}

.styled-select select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    width: 268px;
}

.styled-select.slate {
    background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
    height: 34px;
    width: 240px;
}

.styled-select.slate select {
    border: 1px solid #ccc;
    font-size: 16px;
    height: 34px;
    width: 268px;
}

/* -------------------- Rounded Corners */
.rounded {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.semi-square {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* -------------------- Colors: Background */
.slate   { background-color: #ddd; }
.green   { background-color: #779126; }
.blue    { background-color: #3b8ec2; }
.yellow  { background-color: #eec111; }
.black   { background-color: #000; }

/* -------------------- Colors: Text */
.slate select   { color: #000; }
.green select   { color: #fff; }
.blue select    { color: #fff; }
.yellow select  { color: #000; }
.black select   { color: #fff; }


/* -------------------- Select Box Styles: danielneumann.com Method */
/* -------------------- Source: http://danielneumann.com/blog/how-to-style-dropdown-with-css-only/ */
#mainselection select {
    border: 0;
    color: #EEE;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 10px;
    width: 378px;
    *width: 350px;
    *background: #58B14C;
    -webkit-appearance: none;
}

#mainselection {
    overflow:hidden;
    width:350px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px;
    box-shadow: 1px 1px 11px #330033;
    background: #58B14C url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}


/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */
select#soflow, select#soflow-color {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 20px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
}

select#soflow-color {
    color: #fff;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
    background-color: #779126;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding-left: 15px;
}
/********************************************

                WRAPPER

********************************************/
.wrapper {
    width:100%;
    background-image: url(../img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/********************************************

                CONTAINER

********************************************/
.container-body {
    width: 75%;
    margin: auto;
    padding-top: 66px;
    padding-bottom: 66px;
}
/********************************************

                ALL-CONTENT

********************************************/
.content {
    background: white;
    padding: 50px 15px 50px 15px;
}
/********************************************

                FORM-BOOTSTRAP

********************************************/
.form-control {
    border: solid 1px #E8EAF6;
}

.form-contact, .form-contact-update {
    padding-bottom: 24px;
}
/********************************************

                MENU-AND-HAMBURGER

********************************************/
/*working...*/
li > a {
    font-size: 17px;
    color: white;
}

li > a:hover {
    /*
    border-bottom: white solid 2px;
    border-left: white solid 2px;
    padding:5px;
    background: #9575CD;
    border-radius: 0;
     */
    color: #F3E5F5;
}

/*
#hamburger {
    display: none;
}
*/
.with--menu {
    margin-left: -100%;
}
/********************************************

               MEDIA-QUERY-HAM

********************************************/
/*
@media screen and (min-width: 743px) and (max-width: 2000px) {
    .block-menu {
        background: #673AB7;
        width: 100%;
        height: 100px;
        padding-top: 4px;
        margin-left: 0;
        padding-left: 20%;
    }
    ul, li {
        display: inline-block;
        margin-top: 14px;
        margin-left: 20px;
    }
    .container-body {
    }
}
*/
@media screen and (min-width: 0) and (max-width: 2000px) {
    .block-hamburger {
        background: rgba(103, 58, 183, 0.56);
        width: 100%;
    }
    #hamburger {
        display: block;
        background: rgba(103, 58, 183, 0.40);
        color: white;
        border: none;
        outline-style: none;
    }
    .block-menu {
        background: #673AB7;
        display: none;
        height: 100px;
        position: fixed;
        padding-top: 4px;
        top: 0;
        left: 0;
        right:0;
    }
    .with--menu {
        display: block;
        margin-left: 0;
    }
    ul, li {
        display: inline-block;
        margin-top: 14px;
        margin-left: 1.3em;
    }
    .container-body {
        padding-top: 100px;
    }
}
/********************************************

                TITLE-EDIT

********************************************/
h3 {
    padding-left: 30px;
    margin-bottom: 30px;
}
/********************************************

                PAGE-CONTACT

********************************************/
.contact-title {
    margin-bottom: 15px;
}

.contact-content {
    margin-bottom: 10px;
}

.contact-date {
}

.contact-author {
}

.input-send-contact {
    background: #9575CD;
    border: none;
    float: right;
}
/********************************************

                PAGE-UPDATE

********************************************/
.block-contact-update {
}

.contact-send-update {
    background: #9575CD;
    border:none;
    color: white;
    float: right;
}
.contact-send-update:hover {
    background: #9575CD;
    color: white;
}
/********************************************

                PAGE-BLOG

********************************************/
.bloc-article-whriting {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.input-post-article {
    background: #9575CD;
    border: none;
}

.block-all-articles {
    width: 100%;
    height: 50em;
    overflow: scroll;
}

.block-article {
    padding-left: 15px;
    padding-right: 15px;
}

.article {
    background: rgba(213, 167, 255, 0.18);
    word-wrap: break-word;
    text-align: justify;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.bloc-inp-au-lab-au {
    float: right;
}

.input-author {
    width: 70%;
}

/********************************************

                PANEL-FAQ

********************************************/
.panel-questions {
    background: rgba(149, 117, 205, 0.55);
    color: white;
    margin-bottom: 20px;
}
/********************************************

                TAB-CRUD

********************************************/
.table {
    margin-bottom: 0;
}

.td-data-contact {

}
/********************************************

                Comment-parent

********************************************/
.comment-block {
    width: 100%;
    padding-left: 94px;
}
/********************************************

                FOOTER

********************************************/
.footer {
    background: #673AB7;
    color: white;
    text-align: center;
    padding-top:40px;
    height: 100px;
}