/********************************************

                BODY

********************************************/
html, body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
}
/********************************************

            search-engine-articles

********************************************/
.bloc-search-engine {
    width: 80%;
    margin: auto;
}
/********************************************

               LINK

********************************************/
a{
    color: white;
}

a:hover {
    text-decoration: none;
    color:white;
}
/********************************************

               Boutton

********************************************/
.btn {
    background: rgba(58, 58, 58, 0.77);
    border:none;
    color:white;
}

.btn:hover {
    background: rgba(58, 58, 58, .5);
    border:none;
    color:white;
}
/********************************************

                INPUT-SELECT

********************************************/
/********************************************

                WRAPPER

********************************************/
.wrapper {
    width:100%;
    height: auto;
}
/********************************************

                ALL-CONTENT

********************************************/
.content {
    width: 100%;
    height: 100%;
    background: white;
    padding: 60px 15px 50px 15px;
}
/********************************************

        FORM-BOOTSTRAP && form-contact

********************************************/
.form-control {
    border: solid 1px #E8EAF6;
    margin-bottom: 15px;
}

.form-contact, .form-contact-update {
    padding-bottom: 24px;
}

.block-form {
    width: 60%;
    margin: auto;
}
/********************************************

                MENU-AND-HAMBURGER

********************************************/
/*working...*/
.block-menu {
    background:rgba(0, 0, 0, 0.74);
    width: 100%;
}

ul.menu, li.li-menu {
    display: inline-block;
    margin-top: 14px;
    margin-left: 1.3em;
    color:white;
    cursor: pointer;
}

.ul-sub-category {
    display:none;
    list-style-type: none;
}

.li-category:hover .ul-sub-category {
    display: block;
    position: absolute;
    background-color: grey;
    color: white;
    list-style-type: none;
}

li > a {
    font-size: 17px;
    color: white;
}

li > a:hover {
    color: #F3E5F5;
    padding-top: 10px;
}
/********************************************

                TITLE-EDIT

********************************************/
h3 {
    padding-left: 30px;
    margin-bottom: 30px;
}
/********************************************

             PAGE-CONTACT CLIENT

********************************************/
.form-contact {
    width: 60%;
    margin: auto;
}

.contact-title {
    margin-bottom: 15px;
}

.contact-content {
    margin-bottom: 10px;
}

.contact-date {
}

.contact-author {
}
/********************************************

          ADMIN PAGE-contact-UPDATE

********************************************/
.contact-send-update {
    background: #9575CD;
    border:none;
    color: white;
    float: right;
}
.contact-send-update:hover {
    background: #9575CD;
    color: white;
}
/********************************************

         PAGE-BLOG CLIENT-ADMIN

********************************************/
/*Admin*/
.link-new-article {
    margin-left: 50px;
}
/*Admin*/
.bloc-article-writing {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
/*Admin*/
.bloc-article-update {
    width: 50%;
    margin: auto;
}

.checkbox, .radio {
    display: initial;
}

.block-article {
    width: 60%;
    margin: auto;
}

.article {
    background: rgba(196, 187, 204, 0.18);
    word-wrap: break-word;
    text-align: justify;
    margin-bottom: 15px;
    padding: 15px;
}
/*Admin*/
.bloc-inp-au-lab-au {
    float: right;
}
/*Admin*/
.input-author {
    width: 70%;
}
/*Admin*/
#article-id{
    margin-right: 15px;
}
.writing-comment-and-save {
    display: none;
}

#comment_content {
    width: 100%;
}

.comment-block {
    margin-left: 80px;
}

#show-input-comment-send {
    margin-right: 15px;
}
/********************************************

                PANEL-FAQ

********************************************/
.panel-questions {
    background: rgba(25, 19, 37, 0.55);;
    color: white;
    margin-bottom: 20px;
}
/********************************************

                FOOTER

********************************************/
.footer {
    background: rgba(0, 0, 0, 0.74);
    text-align: center;
    width: 100%;
    height: 80px;
    padding-top: 20px;
    color: white;
}
/********************************************

                ADMIN

********************************************/
/********************************************

                TAB-CRUD

********************************************/
.table {
    margin-bottom: 0;
}

.td-data-contact {

}
/********************************************

                page-admin-add-category

********************************************/
.block-form-add-category {
    width: 50%;
    margin: auto;
}
