{% extends 'base.html.twig' %}

{% block content %}
    <div class="article">
        <p>{{ article.title }}</p>
        <p>{{ article.content }}</p>
        <p>{{ article.author }}</p>
        <p>{{ article.date.date|date('F  j  Y, H\\h i\\m') }}</p>
    </div>
{% endblock %}