<div class="block-hamburger">
    <button id="hamburger"<i class="fa fa-bars fa-3x" aria-hidden="true"></i></button>
</div>
<div class="block-menu">
    <ul class="menu">
        <li class="li-menu"><a href="{{ path('front_index') }}" class="">Blog</a></li>
        <li class="li-menu"><a href="{{ path('front_faq') }}" class="">FAQ</a></li>
        <li class="li-menu"><a href="{{ path('front_contact_form') }}" class="">Contact</a></li>
        <li class="li-menu"><a href="{{ path('back_contact_list') }}" class="">Crud</a></li>
    </ul>
</div>