<div class="navbar navbar-default">
    <a href="{{ path('front_index') }}" class="btn btn-link" style="text-decoration:none;">Home</a>
    <a href="{{ path('front_contact_form') }}" class="btn btn-link" style="text-decoration:none;">Contact</a>
    <a href="{{ path('front_faq') }}" class="btn btn-link" style="text-decoration:none;">FAQ</a>
</div>