{% extends '::base_back.html.twig' %}

{% block content %}

    <a href="{{ path('back_article_index') }}" class="return-blog btn btn-info input-post-article"><i class="fa fa-undo" aria-hidden="true"></i> Return</a></p>
    <div class="comment">
        <p class="">{{ comment.content }}</p>
        <span class="pull-right text-info">Posted the {{ comment.date|date('F  j  Y, H\\h i\\m') }}</span>
    </div>

{% endblock %}