{% extends '::base_back.html.twig' %}

{% block content %}

    <div class="block-show-category">
        <div class="">
            <a href="{{ path('back_category_index') }}" class="btn btn-info"><i class="fa fa-undo" aria-hidden="true"></i> Return</a>
            <h4 class="text-info text-center"><b>{{ category.name }}</b></h4>
        </div>
        <div class="article show-article">
            {{ nbArticles }} in this category.
        </div>
    </div>

{% endblock %}